<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
		type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/messagebox/messagebox_style.css" th:href="@{/messagebox/messagebox_style.css}">
</head>
<body>
    <div id="frame">
        
    </div>
    <script src="../static/messagebox/messagebox_script.js" th:src="@{/messagebox/messagebox_script.js}"></script>
</body>
</html>