<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Login Form</title>


  <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">

</head>

<body>

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

  <div class="login">
    <div class="login-header">
      <h1>Sign in</h1>
    </div>

    <div class="login-form">
      <p th:if="${message}" th:text="${message}" class="text-success"></p>
      <p th:if="${param.error}" class="text-warning">Invalid email or password</p>
      <p th:if="${param.logout}" class="text-success">You have been logged out</p>
      <form th:action="@{/login}" method="post">
        <h3>Username:</h3>
        <input name="username" type="text" placeholder="Username" required/><br>
        <h3>Password:</h3>
        <input name="password" type="password" placeholder="Password" required/>
        <br>
        <input type="submit" value="Login" class="login-button" />
        <br>
      </form>
      <a href="/register" class="sign-up">Sign Up!</a>
    </div>
  </div>
</body>

</html>